<div class="container" ng-controller="MainCtrl">
	<form>
		<legend>Search For An Artist <span class="small-text">Note: you can only search for music by artist</span></legend>
	
		<div class="form-group">
			<input ng-submit="search()" ng-model="searchString" type="text" class="form-control" id="" placeholder="Input field">
		</div>
	
		<button ng-click="getArtists()" type="button" class="btn btn-primary">Search</button>
	</form>

	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="artist in artists">
				<td ng-click='selectArtist(artist)'>{{artist.name}}</td>
			</tr>
		</tbody>
	</table>
</div>